body {
	margin: 0;
}
:global(.fit-parent) {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
:global(.flex) {
	display: flex;
}
:global(.marginAuto) {
	margin: auto;
}
:global(.relative) {
	position: relative;
}
